.header{
    background-color: #1b82d2;
    height: 50px;
  }
  .head{
    color: white;
    line-height: 50px;
    font-size: 18px;
  }
  .head-font{
      color: #1b82d2
  }
  .loginStyle{
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: rgb(204, 204, 204)
  }
  .loginCenter{
    display: flex;
    align-items: center;
  }