
html{
  font-size:62.5%;
}
.header{
    background: linear-gradient(to right, #0079c1, rgb(18, 150, 219));
    height: 50px;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
  }
  .head{
    color: white;
    line-height: 50px;
    font-size: 18px;
  }
  .content{
    margin-bottom: 50px;
    margin-top: 50px;
  }